/Lab-1/Task-2/ReverseRecursive/ReverseRecursive/target/
/Lab-1/nbproject/
/Lab-1/target/
/Lab-2/Lab_2/target/
Lab-1/Lab_3/pom.xml
/Lab-3/Lab_3/target/
/Lab_4/Lab_4/nbproject/private/
/Lab_4/nbproject/private/
/Lab_FX/nbproject/private/
/Lab_4/build/
/Lab_4/dist/
